/.venv
/.idea
/Ontologies/1 State-of-the-art Ontologies/DABGEO
/Ontologies/1 State-of-the-art Ontologies/IEMS
/Ontologies/1 State-of-the-art Ontologies/IESO
/Ontologies/1 State-of-the-art Ontologies/OpenEnergyOntology
/Ontologies/1 State-of-the-art Ontologies/SEAS
/Ontologies/1 State-of-the-art Ontologies/ThinkHome
/Ontologies/1 State-of-the-art Ontologies/aid-em.owl
/Ontologies/1 State-of-the-art Ontologies/call-for-proposal.owl
/Ontologies/1 State-of-the-art Ontologies/catalog-v001.xml
/Ontologies/1 State-of-the-art Ontologies/electricity-markets-results.owl
/Ontologies/1 State-of-the-art Ontologies/ElectricityMarkets.owl
/Ontologies/1 State-of-the-art Ontologies/em-kpi-1_1.owl
/Ontologies/1 State-of-the-art Ontologies/EpexOntology.owl
/Ontologies/1 State-of-the-art Ontologies/MibelOntology.owl
/Ontologies/1 State-of-the-art Ontologies/NordPool.owl
/Ontologies/1 State-of-the-art Ontologies/OEMA.owl
/Ontologies/1 State-of-the-art Ontologies/saref4ener.ttl
/Ontologies/1 State-of-the-art Ontologies/SARGON.owl